.carouselContainer {
  position: relative;
  width: 100%;
  padding: 0 60px; 
}

.trackContainer {
  overflow: hidden;
  width: 100%;
}

.track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  padding: 10px 0; 
  
}

.slide {
  flex: 0 0 33.333%; 
  box-sizing: border-box;
  padding: 0 10px; 
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--color-border-light);
  border: 1px solid var(--color-border-light);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  transition: all 0.2s ease;
}

.leftArrow {
  left: 0;
}

.rightArrow {
  right: 0;
}

.arrow:hover:not(:disabled) {
  background: var(--color-secondary); 
  border-color: var(--color-primary); 
}

.arrow:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

@media (max-width: 1024px) {
  .slide {
    flex: 0 0 50%; 
  }
}

@media (max-width: 600px) {
  .carouselContainer {
    padding: 0 30px;
  }
}

@media (max-width: 600px) {
  .slide {
    flex: 0 0 100%; 
  }
}
